@import "../styles/variables";

.card {
	border: 1px solid $color-primary;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 350px;
	padding: 1rem 3rem;
	position: relative;

	// Shadow
}

.legionNumber {
	font-size: 2rem;
	line-height: 3rem;
	position: absolute;
	top: 0.5rem;
	left: 2rem;
	z-index: 3;
}

.legionName {
	z-index: 2;
}
.legionImageContainer {
	position: relative;
	z-index: 0;
}
