@import "../app/styles/_variables.scss";

body {
	overflow-x: hidden;
	color: $color-primary;
	background-color: $color-secondary;
	text-align: center;
	font-size: $font-size-p;
}

a {
	text-decoration: none;
	color: $color-primary;
	&:visited {
		text-decoration: none;
		color: $color-primary;
	}
}

h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
