@import "./styles/variables";

.main {
	padding: 1rem 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
}
.headerTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-primary;
	padding: 1rem 3rem;
	margin-bottom: 2rem;
	&:hover {
		background-color: darken($color-secondary, 10%);
	}
}

.featuresGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 1rem;
	padding-top: 1rem;
	margin-bottom: 2rem;
}
